.parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.navBackButton {
    position: absolute;
    float: right;
    right: 3%;
    top: 90%;
    width: 10%;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    font-size: 100%;
    border: solid 2px black;
}
