.tabloEdit {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

.tablo {
    position: relative;
    background-color: white;
    height: 240px;
    width: 480px;
    margin: auto;
    margin-bottom: 15px;
    margin-top: 15px;
}


.gameButtons {
    font-size: 28px;
    display: grid;
    width: 480px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
    margin: auto;
}


.gameButtons__Disabled {
    opacity: 0.5;
    padding-top: 5px;
    padding-bottom: 5px;
    pointer-events: none;
}

.gameButtons__Active__Start {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.gameButtons__Active__Start:hover {
    background: #2b8431;
}

.gameButtons__Active__Stop {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.gameButtons__Active__Stop:hover {
    background: #ff3232;
}

.gameButtons__stop {
    cursor: pointer;
}

.beepButtons {
    display: grid;
    width: 480px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

.beepButtons_beep {
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    background-color: #707070;
}




