.tablo {
    display: grid;
    grid-template-rows: 23% 10% 38% 28%;
    background-color: #3d4040;
    height: 100%;
    width: 100%;
}

.counters {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    text-align: center;
    font-size: 26px;
    margin-bottom: 10px;
}

.time {
    text-align: center;
    padding-top: 5px;
    font-size: 42px;
}

.tempLog {
    text-align: center;
    font-size: 24px;
}

.consLogItem {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
}

.timeout {
    position: relative;
    color: #b6daf0;
    text-align: center;
    font-size: 20px;
}

.timeout5sec {
    position: relative;
    color: red;
    text-align: center;
    font-size: 20px;
}

