.tablo {
    display: grid;
    grid-template-rows: 23% 10% 39% 28%;
    background-color: white;
    height: 100%;
    width: 100%;
}

.counters {
    position: relative;
    padding-left: 30px;
    padding-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
}

.counter {
    box-sizing: border-box;
    border: black solid 3px;
    display: grid;
    grid-template-columns: 35% 65%;
}

.counter2 {
    box-sizing: border-box;
    border: black solid 3px;
    display: grid;
    grid-template-columns: 65% 35%;
}

.time {
    text-align: center;
    padding-top: 5px;
    font-size: 62px;
}

.tempLog {
    text-align: center;
    font-size: 28px;
}

.consLogItem {
    position: relative;
    padding-left: 20px;
    font-size: 18px;
}

.timeout {
    position: relative;
    color: blue;
    text-align: center;
    font-size: 24px;
}

.timeout5sec {
    position: relative;
    color: red;
    text-align: center;
    font-size: 24px;
}

.addGoal {
    background: #fc8b8b;
    font-size: 58px;
    color: blue;
    cursor: pointer;
}
