.tabloEdit {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: 10px;
}

.tablo {
    position: relative;
    height:170px;
    width: 340px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

.gameButtons {
    font-size: 20px;
    display: grid;
    width: 340px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    text-align: center;
    margin: auto;
}

.gameButtons__Disabled {
    opacity: 0.5;
    padding-top: 3px;
    padding-bottom: 3px;
    pointer-events: none;
}

.gameButtons__Active {
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.start {
    background: green;
}

.start:hover {
    background: #2b8431;
}

.stop {
    background: red;
}

.stop:hover {
    background: #ff3232;
}

.beepButtons {
    display: grid;
    width: 340px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
    font-size: 18px;
    margin: auto;
    text-align: center;
}

.beepButtons_beep {
    box-sizing: border-box;
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background-color: #707070;
}

.beepButtons_beep:hover {
    background-color: #ababab;
}