.setDevice {
    background: #2a2b2b;
    color: white;
    width: 100%;
    height: 100%;
}

.menuTitle {
    position: relative;
    font-weight: bold;
    font-size: 56px;
    left: 140px;
    top: 80px;
}

.navbar {
    position: relative;
    left: 110px;
    top: 120px;
    width: 1400px;
    height: 740px;
    overflow: auto;
}

.navButton {
    margin-bottom: 20px;
    padding: 10px;
    width: 1300px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.changeDeviceType {
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    border: solid 2px white;
    background-color: #130757;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.device {
    font-size: 16px;
    border: solid 2px #130757;
    background-color: white;
    color: #130757;
    padding: 3px;
    cursor: pointer;
}

.device:hover {
    background-color: #D5DEEF;
}

.navBackButton {
    position: absolute;
    color: white;
    float: right;
    right: 30px;
    bottom: 30px;
    width: 280px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px white;
}

.lagButton {
    color: blue;
    text-decoration-line: underline;
    cursor: pointer;
}