.setDevice {
    background: #2a2b2b;
    color: white;
    width: 100%;
    height: 100%;
}

.menuHeader {
    width: 100%;
    height: 9vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border-bottom: 1px white solid;
}

.back {
    margin: auto;
    margin-left: 40px;
    display: inline-flex;
}

.backButton {
    cursor: pointer;
    margin-left: 20px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    font-size: 20px;
}

.menuTitle {
    text-align: center;
    font-size: 40px;
}

.navbar {
    position: relative;
    left: 110px;
    top: 120px;
    width: 1000px;
    height: 420px;
    overflow: auto;
}

.navButton {
    margin-bottom: 10px;
    padding: 12px;
    width: 950px;
    font-weight: bold;
    font-size: 24px;
    border: solid 2px black;
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

.changeDeviceType {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: solid 2px white;
    background-color: #130757;
    color: white;
    cursor: pointer;
    padding: 5px;
}

.device {
    font-size: 16px;
    border: solid 2px #130757;
    background-color: white;
    color: #130757;
    padding: 3px;
    cursor: pointer;
}

.device:hover {
    background-color: #D5DEEF;
}

.navBackButton {
    position: absolute;
    color: white;
    float: right;
    right: 30px;
    bottom: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    border: solid 2px white;
}

.lagButton {
    color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}
