.editor {

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.video {
    height: 140px;
    background-color: blue;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
}

.editorPlayer {
    position: relative;
    left: 20px;
}

.editorLine {
    position: absolute;
    top: 0;
    opacity: 0.3;
}

.droppableVideo {
    position: absolute;
    right: 0;
    margin-left: 20px;
    border: 2px solid;
    width: 140px;
    background-color: #8cede5;
    padding: 37px 5px;
    text-align: center;
}

.playerButton {
    border: 1px solid;
    background-color: #8cede5;
    margin-right: 15px;
    padding: 3px 10px;
}

.playerTime {
    border: 1px solid;
    background-color: white;
    margin-right: 15px;
    padding: 3px 10px;
}

.playerButtons {
    position: relative;
    display: inline-flex;
    padding-top: 10px;
}
