.editor {
    font-size: 24px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 40px;
}

.video {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 200px;
    background-color: #5198e8;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
    opacity: 1;
    z-index: 1000;
    font-size: 24px;
}

.videoTag {
    min-width: 100%;
    max-width: 100%;
}

.editorPlayer {
    position: relative;
    left: 40px;
    color: black;
}

.editorLine {
    position: absolute;
    background-color: white;
    opacity: 0.5;
}

.droppableVideo {
    position: absolute;
    right: 0;
    margin-left: 20px;
    border: 1px solid;
    width: 200px;
    background-color: #8cede5;
    padding: 51px 5px;
    text-align: center;
    font-size: 24px;
    color: black;
}

.droppableVideoFullWidth {
    position: absolute;
    border: 1px solid;
    width: 1200px;
    background-color: #8cede5;
    padding: 82px 0;
    text-align: center;
    font-size: 24px;
    color: black;
}


.playerButton {
    border: 1px solid;
    background-color: #d1fff5;
    margin-right: 15px;
    padding: 3px 10px;
}

.start:hover {
    cursor: pointer;
    background: #c9d9f5;
}

.stop:hover {
    cursor: pointer;
    background: #c9d9f5;
}

.clear:hover {
    cursor: pointer;
    background: #c9d9f5;
}

.next:hover {
    cursor: pointer;
    background: #c9d9f5;
}

.disable {
    opacity: 0.5;
}

.playerTime {
    border: 1px solid;
    background-color: white;
    margin-right: 15px;
    padding: 3px 10px;
}

.playerButtons {
    position: relative;
    display: inline-flex;
    padding-top: 20px;
    font-size: 24px;
}

.exitForm {
    position: relative;
    border: 1px solid;
    bottom: 0;
    background-color: red;
    font-size: 24px;
    cursor: pointer;
}

.exitForm:hover {
    background-color: #ff4a4a;
}