.editor {

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.video {
    height: 100px;
    background-color: blue;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
}

.editorPlayer {
    position: relative;
    left: 20px;
}

.droppableVideo {
    margin-right: 20px;
    border: 2px solid;
}
