.editor {

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.video {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    height: 140px;
    background-color: #5198e8;
    text-align: center;
    border: 1px solid;
    box-sizing: border-box;
    opacity: 1;
    z-index: 1000;
}

.videoTag {
    min-width: 100%;
    max-width: 100%;
}

.editorPlayer {
    position: relative;
    left: 20px;
    color: black;
}

.editorLine {
    position: absolute;
    background-color: white;
    opacity: 0.5;
}

.droppableVideo {
    position: absolute;
    right: 0;
    margin-left: 20px;
    border: 1px solid;
    width: 140px;
    background-color: #8cede5;
    padding: 36px 5px;
    text-align: center;
    color: black;
}

.droppableVideoFullWidth {
    position: absolute;
    border: 1px solid;
    width: 780px;
    background-color: #8cede5;
    padding: 65px 0;
    text-align: center;
    color: black;
}


.playerButton {
    border: 1px solid;
    background-color: #8cede5;
    margin-right: 15px;
    padding: 3px 10px;
}

.playerTime {
    border: 1px solid;
    background-color: white;
    margin-right: 15px;
    padding: 3px 10px;
}

.playerButtons {
    position: relative;
    display: inline-flex;
    padding-top: 10px;
}

.exitForm {
    position: relative;
    border: 1px solid;
    bottom: 0;
    background-color: #e0223b;
    font-size: 18px;
    cursor: pointer;
}
