.customGame {
    background: #2a2b2b;
    color: white;
    width: 100%;
    height: 100%;
}

.menuHeader {
    position: absolute;
    width: 100%;
    height: 9vh;
    display: grid;
    grid-template-columns: 30% 40% 8% 22%;
    border-bottom: 1px white solid;
}

.back {
    margin-top: 15px;
    margin-left: 40px;
    display: inline-flex;
}

.backButton {
    cursor: pointer;
    margin-left: 20px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    font-size: 28px;
}

a {
    color: black;
    text-decoration: none;
}

.menuTitle {
    text-align: center;
    font-size: 56px;
}

.colorAndName {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
}

.navBackButton {
    position: absolute;
    float: right;
    right: 30px;
    bottom: 30px;
    width: 280px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px white;
    color: white;
}



.panelName {
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 26px;
}

.customGameForm {
    margin: auto;
    padding-top: 120px;
    height: 500px;
    width: 1100px;
    display: grid;
    grid-template-rows: 20% 75%;
    row-gap: 5%;
}

.customTime {
    display: grid;
    grid-template-columns: 30% 70%;
}

.timePanel {
    padding-top: 10px;
    padding-left: 25px;
    font-size: 22px;
}

.periodPanel {
    padding-top: 10px;
    padding-left: 25px;
    font-size: 22px;
}

.periods {
    padding: 2px 10px;
    border: 2px solid;
    cursor: pointer;
}

.choosenPeriod {
    padding: 2px 10px;
    border: 2px solid;
    border-bottom: red 5px solid;
    cursor: pointer;
    background: #3d4040;
}

.customGamers {
    display: grid;
    grid-template-columns: 48% 48%;
    column-gap: 4%;
}

.teamPanel {
    position: relative;
    height: 500px;
    overflow-y: scroll;
}

.team {
    display: grid;
    grid-template-columns: 85% 10%;
}


.successSave {
    color: green;
    position: absolute;
    float: right;
    left: 100px;
    bottom: 120px;
    font-size: 22px;
}

.addDeleteGamerButtons {
    display: inline-flex;
    padding-left: 20px;
    padding-bottom: 20px;
}

.addGamerButton {
    background: lightgreen;
    text-align: center;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 30px;
    cursor: pointer;
}

.deleteGamerButton {
    background: #e0223b;
    text-align: center;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 30px;
    cursor: pointer;
}

.customGameButton {
    position: absolute;
    float: right;
    left: 100px;
    bottom: 30px;
    width: 400px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px black;
    cursor: pointer;
}

.resetButton {
    position: absolute;
    float: right;
    left: 860px;
    bottom: 30px;
    width: 560px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px white;
    color: white;
    cursor: pointer;
}