.savedGames {
    display: block;
    background: #2a2b2b;
    color: white;
    width: 100vw;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

.search {
    font-size: 32px;
    margin-bottom: 30px;
}

.searchInput {
    height: 32px;
    width: 400px;
}

.currentGame {
    display: inline-flex;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.menu {
    position: absolute;
    left: 80px;
    top: 150px;
}

.navbar {
    width: 1600px;
    height: 620px;
    overflow: auto;
}

.savedGamesMenu {
    display: grid;
    grid-template-columns: 80% 12%;
    grid-column-gap: 4%;
}

.navButton {
    margin-bottom: 20px;
    padding: 10px;
    font-weight: bold;
    font-size: 32px;
    border: solid 2px black;
}

.createGameButton {
    position: absolute;
    left: 120px;
    bottom: 30px;
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}


.devicesButton {
    position: absolute;
    float: right;
    right: 60px;
    bottom: 30px;
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}


.createFastGameButton {
    position: absolute;
    left: 680px;
    bottom: 30px;
    padding: 30px;
    font-weight: bold;
    font-size: 40px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}


.menuTitle {
    position: relative;
    font-weight: bold;
    font-size: 54px;
    left: 160px;
    top: 40px;
}

.iptv {
    position: absolute;
    font-weight: bold;
    font-family: Impact;
    font-size: 50px;
    top: 40px;
    right: 50px;
    border: 3px solid;
    padding: 10px 10px;
}

.nameAndType {
    position: relative;
    float: right;
}

.navButtonAdmin {
    border: 2px solid black;
    background-color: #232961;
    color: white;
    text-align: center;
}

.navButtonGameNumber {
    border: 2px solid black;
    background-color: #d1fff5;
    color: black;
    text-align: center;
}



.tabloChose {
    display: grid;
    grid-template-columns: 52% 35% 5%;
    grid-column-gap: 4%;
    padding-top: 15px;
    border-top: 2px solid black;
    cursor: pointer;
}

.adminChose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}

.gameIsGoing {
    color: #ff1717;
    animation: blink 1s infinite;
    font-size: 32px;
}

@keyframes blink {
    from {
        color: #ff1717
    }
    to {
        color: #731919;
    }
}

.deleteButton {
    padding: 2px 0;
    border: 2px solid black;
    background: red;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
}

.editButton {
    margin-top: 5px;
    padding: 2px 0;
    border: 2px solid black;
    background: green;
    height: 32px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    color: white;
}