.savedGames {
    display: block;
    background: #2A2B2B;
    color: white;
    width: 100vw;
    height: 100vh;
}

a {
    color: black;
    text-decoration: none;
}

.search {
    display: inline-flex;
    margin-bottom: 15px;
}

.searchInput {
    margin-left: 16px;
    height: 20px;
    width: 300px;
}

.currentGame {
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.curentGameMenu {
    margin-left: 20px;
    padding: 0 5px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}

.curentGameMenu:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}

.menu {
    position: absolute;
    left: 60px;
    top: 100px;
}

.navbar {
    width: 1000px;
    height: 410px;
    overflow: auto;
}

.savedGamesMenu {
    display: grid;
    grid-template-columns: 80% 16%;
    grid-column-gap: 4%;
}

.navButton {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px black;
}


.createGameButton {
    position: absolute;
    left: 100px;
    bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}

.createGameButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}


.devicesButton {
    position: absolute;
    right: 50px;
    bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}

.devicesButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}


.createFastGameButton {
    position: absolute;
    left: 460px;
    bottom: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    cursor: pointer;
}

.createFastGameButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}


.menuTitle {
    position: relative;
    font-weight: bold;
    font-size: 38px;
    left: 120px;
    top: 20px;
}

.iptv {
    position: absolute;
    font-weight: bold;
    font-family: Impact;
    font-size: 28px;
    top: 20px;
    right: 30px;
    border: 3px solid;
    padding: 5px 5px;
}

.nameAndType {
    position: relative;
    float: right;
}

.navButtonAdmin {
    border: 2px solid black;
    background-color: #232961;
    color: white;
    text-align: center;
}

.navButtonGameNumber {
    border: 2px solid black;
    background-color: #d1fff5;
    color: black;
    text-align: center;
}

.navButtonGameNumber:hover {
    background-color: #c9d9f5;
    color: black;
    border: 3px solid black;
}

.tabloChose {
    display: grid;
    grid-template-columns: 40% 47% 5%;
    grid-column-gap: 4%;
    padding-top: 10px;
    border-top: 2px solid white;
    cursor: pointer;
}

.adminChose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}

.gameIsGoing {
    color: #ff1717;
    animation: blink 1s infinite;
    font-size: 20px;
}


@keyframes blink {
    from {
        color: #ff1717
    }
    to {
        color: #731919;
    }
}

.deleteButton {
    border: 2px solid black;
    background: red;
    height: 26px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.deleteButton:hover {
    background: #ff4a4a;
}

.editButton {
    margin-top: 5px;
    border: 2px solid black;
    background: green;
    height: 26px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.editButton:hover {
    background: #48b837;
}


.settingsButton {
    text-align: center;
    font-size: 24px;
}

.settingsButton:hover {
    color: #c9d9f5;
}