.savedGames {
    display: block;
    background: #2a2b2b;
    color: white;
    width: 100%;
    height: 100%;
}

a {
    color: black;
    text-decoration: none;
}

.search {
    font-size: 20px;
    margin-bottom: 15px;
}

.searchInput {
    height: 20px;
    width: 300px;
}

.currentGame {
    display: inline-flex;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.curentGameMenu {
    border: 3px solid;
    background: #D5DEEF;
    margin-left: 20px;
    padding: 0 5px;
    cursor: pointer;
}

.curentGameMenu:hover {
    background-color: #130757;
    color: white;
}

.menu {
    position: absolute;
    left: 60px;
    top: 100px;
}

.navbar {
    width: 1000px;
    height: 410px;
    overflow: auto;
}

.savedGamesMenu {
    display: grid;
    grid-template-columns: 80% 16%;
    grid-column-gap: 4%;
}

.navButton {
    margin-bottom: 10px;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px black;
}


.createGameButton {
    position: absolute;
    left: 60px;
    bottom: 30px;
    width: 450px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: solid 3px black;
    background: #8cede5;
}

.createGameButton:hover {
    background: #D5DEEF;
}

.devicesButton {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: solid 3px black;
    background-color: #130757;
    color: white;
}


.devicesButton:hover {
    background: #040e1c;
}




.createFastGameButton {
    position: absolute;
    left: 620px;
    bottom: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    border: solid 3px black;
    background-color: #8cede5;
    cursor: pointer;
    color: black;
}

.createFastGameButton:hover {
    background: #D5DEEF;
}

.menuTitle {
    position: relative;
    font-weight: bold;
    font-size: 38px;
    left: 120px;
    top: 20px;
}

.iptv {
    position: absolute;
    font-weight: bold;
    font-family: Impact;
    font-size: 28px;
    top: 20px;
    right: 30px;
    border: 3px solid;
    padding: 5px 5px;
}

.nameAndType {
    position: relative;
    float: right;
}

.navButtonAdmin {
    border: 2px solid black;
    background-color: #232961;
    color: white;
    text-align: center;
}

.navButtonGameNumber {
    border: 2px solid black;
    background-color: #d1fff5;
    color: black;
    text-align: center;
}




.tabloChose {
    display: grid;
    grid-template-columns: 40% 47% 5%;
    grid-column-gap: 4%;
    padding-top: 10px;
    border-top: 2px solid white;
    cursor: pointer;
}

.adminChose {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5%;
}

.gameIsGoing {
    color: #ff1717;
    animation: blink 1s infinite;
    font-size: 20px;
}

@keyframes blink {
    from {
        color: #ff1717
    }
    to {
        color: #731919;
    }
}

.deleteButton {
    border: 2px solid black;
    background: red;
    height: 26px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.editButton {
    margin-top: 5px;
    border: 2px solid black;
    background: green;
    height: 26px;
    color: white;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}