.teamGamers {
    display: grid;
    grid-template-columns: 7% 53% 25% 10% 5%;
    border-top: black 1px solid;
    font-size: 20px;
}

.gamer {
    cursor: pointer;
    padding-left: 10px;
    word-break: break-all;
}

.gamerActive {
    color: white;
    background-color: #787b8f;
    padding-left: 10px;
    box-sizing: border-box;
}

.gamer:hover {
    color: white;
    background-color: #787b8f;
    padding-left: 12px;
}

.additionalMenu {
    box-sizing: border-box;
    position: absolute;
    border: solid 1px;
    background-color: #fff3eb;
    margin-left: 100px;
    margin-top: -25px;
    font-size: 20px;
    cursor: pointer;
    width: 125px;
    color: black;
}

.additionalMenuItem {
    padding: 5px 0 5px 10px;
    border: solid 1px;
}

.additionalMenuItem:hover {
    color: white;
    background-color: #787b8f;
}

.addAddMenu {
    color: black;
    position: absolute;
    border: solid 1px;
    background-color: #fff3eb;
    margin-left: 111px;
    margin-top: 0;
    font-size: 20px;
    cursor: pointer;
    width: 155px;
}

.addAddMenuItem {
    padding: 5px 0 5px 10px;
    border: solid 1px;
    cursor: pointer;
}

.addAddMenuItem:hover {
    color: white;
    background-color: #787b8f;
}

.returnGamer {
    padding: 5px 0 5px 10px;
    border: solid 1px;
    background-color: darkcyan;
    cursor: pointer;
}

.returnGamer:hover {
    background-color: #77cde0;
}

.none {
    display: none;
}
