.team {
    width: 400px;
    margin: auto;
}

.teamInfo {
    padding-top: 20px;
    font-size: 26px;
}

.teamGamers {
    display: block;
    max-height: 360px;
    overflow-y: scroll;
}

.tableInfo {
    display: grid;
    grid-template-columns: 75% 25%;
    font-size: 18px;
}


.timeout {
    cursor: pointer;
    text-decoration-line: underline;
    color: #d18130;
    text-decoration-color: #d18130;
}

.timeout:hover {
    color: #ffc369;
    text-decoration-color: #ffc369;
}

.timeoutDis {
    opacity: 0.5;
}

.points {
    margin-top: 15px;
    display: inline-flex;
    height: 30px;
}

.plusGoal {
    width: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.plusGoal:hover {
    color: green;
}

.minusGoal {
    width: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.minusGoal:hover {
    color: red;
}

