.team {
    padding-left: 40px;
    width: 92%;
    height: 100%;
}

.teamInfo {
    padding-top: 20px;
    font-size: 18px;
}

.teamGamers {
    display: block;
    max-height: 220px;
    overflow-y: scroll;
}

.tableInfo {
    display: grid;
    grid-template-columns: 75% 25%;
}


.timeout {
    border: solid 1px;
    padding: 0 10px;
    background-color: #D5DEEF;
    cursor: pointer;
}

.timeoutDis {
    padding: 0 10px;
    color: #595d61;
    border: 1px solid #595d61;
    background: #b6c9db;
}

.points {
    display: inline-flex;
    height: 30px;
}

