.tablo2 {
    background-color: #000000;;
    /*background-color: #e0223b;*/
    position: absolute;
    top: 540px;
    width: 1280px;
    height: 180px;
    opacity: 0.8;
}

.counter2 {
    position: absolute;
    color: #c2d9ff;
    text-align: center;
    font-size: 54px;
    box-sizing: border-box;
    width: 380px;
    margin-top: 20px;
}

.homeTeam2 {
    left: 100px;
}

.guestsTeam2 {
    right: 100px;
}

.time2 {
    color: #c2d9ff;
    position: absolute;
    text-align: center;
    width: 1280px;
}


.homeLogo {
    position: absolute;
    bottom: 0;
    left: 0;
}

.guestsLogo {
    position: absolute;
    bottom: 0;
    right: 0;
}
