.tablo {
    height: 100%;
    width: 100%;
}

.tablo1 {
    /*background-image: url("../../../content/img/TABLO-1.png");*/
    /*background-color: black;*/
    color: #c2d9ff;
    height: 720px;
    width: 1280px;
}


.counter {
    position: absolute;
    text-align: center;
    font-size: 160px;
    bottom: 100px;
}

.homeTeamCounter {
    left: 430px;
}

.guestsTeamCounter {
    right: 430px;
}

.name {
    position: absolute;
    text-align: center;
    font-size: 58px;
    bottom: 0;
}

.homeTeamName {
    left: 40px;
}

.guestsTeamName {
    right: 40px;
}

.logo {
    z-index: -1000;
    position: absolute;
    text-align: center;
}


.homeLogo {
    width: 380px;
    height: 380px;
    bottom: 80px;
    left: 0;
}

.guestsLogo {
    width: 380px;
    height: 380px;
    bottom: 80px;
    right: 0;
}


.time {
    text-align: center;
    padding-top: 10px;
    font-size: 124px;
    height: 154px;
}

.tempLog {
    text-align: center;
    font-size: 50px;
    height: 52px;
}

.consLogItem {
    font-size: 32px;
    /*display: inline-flex;*/
}

.consLogHome {
    position: absolute;
    top: 0;
    left: 0;
}

.consLogGuests {
    position: absolute;
    top: 0;
    right: 0;
}

.gamerNumber {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #c2d9ff;
    width: 70px;
    height: 43px;
}

.timerOfDelete {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #c2d9ff;
    width: 130px;
    height: 43px;
}

.timeout {
    position: relative;
    color: blue;
    text-align: center;
    font-size: 32px;
    height: 324px;
}

.timeout5sec {
    position: relative;
    color: red;
    text-align: center;
    font-size: 32px;
    height: 324px;
}

.tablo0 {
    text-align: center;
    font-size: 800%;
}
