.tablo {
    height: 100%;
    width: 100%;
}

.tablo1 {
    /*background-image: url("../../../content/img/TABLO-1.png");*/
    background-color: black;
    color: #c2d9ff;
    height: 720px;
    width: 1280px;
    z-index: 1000;
}


.counter {
    position: absolute;
    text-align: center;
    font-size: 64px;
    box-sizing: border-box;
    width: 400px;
}

.homeTeam {
    left: 230px;
}

.guestsTeam {
    right: 230px;
}

.logo {
    position: absolute;
    text-align: center;
}

.logos {

}

.homeLogo {
    bottom: 200px;
    left: 200px;
}

.guestsLogo {
    bottom: 200px;
    right: 200px;
}


.time {
    text-align: center;
    padding-top: 10px;
    font-size: 124px;
    height: 154px;
}

.tempLog {
    text-align: center;
    font-size: 50px;
    height: 52px;
}

.consLogItem {
    font-size: 32px;
    /*display: inline-flex;*/
}

.consLogHome {
    position: absolute;
    top: 0;
    left: 0;
}

.consLogGuests {
    position: absolute;
    top: 0;
    right: 0;
}

.gamerNumber {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #c2d9ff;
    width: 70px;
    height: 43px;
}

.timerOfDelete {
    text-align: center;
    box-sizing: border-box;
    border: 2px solid #c2d9ff;
    width: 130px;
    height: 43px;
}

.timeout {
    position: relative;
    color: blue;
    text-align: center;
    font-size: 32px;
    height: 324px;
}

.timeout5sec {
    position: relative;
    color: red;
    text-align: center;
    font-size: 32px;
    height: 324px;
}

.tablo0 {
    text-align: center;
    font-size: 800%;
}
