.tablo3 {
    background-color: black;
    color: #c2d9ff;
    height: 720px;
    width: 1280px;
    opacity: 0.8;
}

.teamName {
    text-align: center;
    padding-top: 20px;
    font-size: 52px;
    margin-bottom: 20px;
}

.gamers {
    padding-left: 70px;
    font-size: 24px;
}

