.info {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border-bottom: 1px white solid;
}

.nameAndType {
    margin: auto;
    text-align: center;
    font-size: 24px;
}

.statusAndTime {
    position: absolute;
    right: 40px;
    font-size: 24px;
}

.back {
    margin: auto;
    margin-left: 40px;
    display: inline-flex;
}

.backButton {
    cursor: pointer;
    margin-left: 20px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    font-size: 20px;
}

.backButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}




