.log {
    width: 70%;
    height: 100%;
    padding-left: 10%;
}

.logWindow {
    position: relative;
    height: 150px;
    background: white;
    overflow-y: scroll;
    margin-bottom: 2%;
}

.addLogButton {
    background: lightgreen;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 150%;
    cursor: pointer;
}   

.logForm {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 35px;
}

