.teamGamers {
    display: grid;
    grid-template-columns: 15% 45% 25% 10% 5%;
    border-top: black 1px solid;
}

.gamerMenu {
    position: absolute;
    border: solid 1px;
    background-color: antiquewhite;
    padding: 5px 25px;
    margin-left: 70px;
    margin-top: -25px;
    font-size: 105%;
    cursor: pointer;
}

.menuItem {
    border: solid 1px;
    margin-left: 20px;
}

.gamer {
    cursor: pointer;
    padding-left: 5%;
}

.gamer:hover {
    color: white;
    background-color: #787b8f;
}

.additionalMenu {
    position: absolute;
    border: solid 1px;
    background-color: antiquewhite;
    margin-left: 75px;
    margin-top: -25px;
    font-size: 105%;
    cursor: pointer;
}

.additionalMenuItem {
    padding: 5px 50px 5px 25px;
    border: solid 1px;

}

.additionalMenuItem:hover {
    color: white;
    background-color: #787b8f;
}

.addAddMenu {
    color: black;
    position: absolute;
    border: solid 1px;
    background-color: antiquewhite;
    margin-left: 100px;
    margin-top: -75px;
    font-size: 105%;
    cursor: pointer;
}

.addAddMenuItem {
    padding: 5px 50px 5px 25px;
    border: solid 1px;
}

.addAddMenuItem:hover {
    color: white;
    background-color: #787b8f;
}

.invise {
    display: none;
}
