.team {
    padding-left: 15%;
    width: 85%;
    height: 100%;
}

.teamInfo {
    padding-top: 5%;
}

.teamGamers {
    display: block;
    max-height: 230px;
    overflow-y: scroll;
}

.tableInfo {
    display: grid;
    grid-template-columns: 60% 40%;
}


.timeout {
    border: solid 1px;
    padding: 0 10px;
    background-color: #D5DEEF;
    cursor: pointer;
}


