.teamGamers {
    display: grid;
    grid-template-columns: 15% 35% 20% 10% 15%;
    border-top: black 1px solid;
}

.goalButton {
    margin-left: 5px;
}

.timeOfPenalty {
    position: absolute;
    z-index: 1000;
    border: solid 1px;
    background-color: antiquewhite;
    padding: 2px;
    margin-left: 60px;
    margin-top: -20px;
}
