.addOptions {
    width: 500px;
    margin: auto;
    font-size: 24px;
}

.overtimeButtons {
    display: inline-flex;
    margin-top: 20px;
}

.overtimeButton {
    cursor: pointer;
    text-decoration-line: underline;
    margin-right: 40px;
    color: #d18130;
    text-decoration-color: #d18130;
    font-size: 30px;
}

.overtimeButtonDis {
    opacity: 0.5;
    margin-right: 30px;
}

.customGameButton {
    text-decoration-line: underline;
    text-align: center;
    color: #2079A3;
    text-decoration-color: #2079A3;
    font-size: 28px;
}

.customGameButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}