.addOptions {
    width: 340px;
    margin: auto;
    font-size: 20px;
}

.overtimeButtons {
    display: inline-flex;
    margin-top: 15px;
}



.overtimeButton {
    cursor: pointer;
    text-decoration-line: underline;
    margin-right: 30px;
    color: #d18130;
    text-decoration-color: #d18130;
}

.overtimeButton:hover {
    color: #ffc369;
    text-decoration-color: #ffc369;
}


.overtimeButtonDis {
    opacity: 0.5;
    margin-right: 30px;
}

.customGameButton {
    text-decoration-line: underline;
    text-align: center;
    color: #2079A3;
    text-decoration-color: #2079A3;
}

.customGameButton:hover {
    color: #c9d9f5;
    text-decoration-color: #c9d9f5;
}
