@font-face {
    font-family: 'Russo One';
    src: local('Russo One'), url(./fonts/RussoOne-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'YanoneKaffeesatz-Bold';
    src: local('Russo One'), url(./fonts/YanoneKaffeesatz-Bold.ttf) format('opentype');
}

@font-face {
    font-family: 'YanoneKaffeesatz-Medium';
    src: local('Russo One'), url(./fonts/YanoneKaffeesatz-Medium.ttf) format('opentype');
}


.app {
    height: 100vh;
    /*font-family: Tough Sans Regular;*/
    user-select: none;
}

