.createGame {
    background: #2a2b2b;
    color: white;
    width: 100%;
    height: 100%;
}

.menuHeader {
    width: 100%;
    height: 9vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    border-bottom: 1px white solid;
}

.back {
    margin: auto;
    margin-left: 40px;
    display: inline-flex;
}

.backButton {
    cursor: pointer;
    margin-left: 20px;
    color: #2079A3;
    text-decoration-color: #2079A3;
    text-decoration-line: underline;
    font-size: 20px;
}

a {
    color: black;
    text-decoration: none;
}

.menuTitle {
    text-align: center;
    font-size: 40px;
}

.colorAndName {
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
}

.navBackButton {
    position: absolute;
    float: right;
    right: 30px;
    bottom: 30px;
    width: 200px;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    font-size: 22px;
    border: solid 2px white;
    color: white;
}

.createGameInput {

}

.createGameButton {
    position: absolute;
    top: 105%;
    left: 5%;
    width: 30%;
    text-align: center;
    padding: 1%;
    font-weight: bold;
    font-size: 22px;
    border: solid 2px black;
    cursor: pointer;
}

.createGameInputPanel {

}

.createTeamsInputPanel {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 3%;
}

.createGamePanel {
    position: absolute;
    left: 10%;
    top: 120px;
    width: 80%;
}

.createForm {
    display: grid;
    grid-template-columns: 35% 65%;
    width: 100%;
}

.homeTeam {

}

.guestsTeam {

}

.homeGamers {
    overflow-y: auto;
    height: 230px;
}

.addDeleteGamerButtons {
    display: inline-flex;
    padding-left: 20px;
    padding-bottom: 20px;
}

.addGamerButton {
    background: green;
    text-align: center;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 150%;
    cursor: pointer;
}

.deleteGamerButton {
    background: red;
    text-align: center;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 22px;
    cursor: pointer;
}

.homeGamer {
    display: grid;
    grid-template-columns: 83% 10%;
    grid-column-gap: 3%;
}

.formTitle {
    padding-bottom: 10px;
    font-size: 120%;
}

.successMessage {
    position: absolute;
    top: 15%;
    width: 100%;
    text-align: center;
    font-size: 200%;
    color: forestgreen;
    font-weight: bolder;
}

.gameTypeMenu {
    box-sizing: border-box;
    border: 1px black solid;
    width: 70%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    font-weight: bold;
    background-color: white;
    color: black;
}
