.adminPanel {
    background: #2a2b2b;
    color: white;
}

.info {
    height: 9vh;
}

.mainPanel {
    display: grid;
    grid-template-columns: 34% 32% 34%;
    height: 91vh;
}

.addPanel {
    display: grid;
    grid-template-rows: 44% 29% 27%;
}

