.adminPanel {

}

.adminPanel__info {
    height: 6vh;
    background: #D5DEEF;
}

.adminPanel__mainPanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 39vh;
    background: #B2CAEE;
}

.adminPanel__addPanel {
    display: grid;
    grid-template-columns: 75% 25%;
    height: 55vh;
    background: #89AFE0;
}

