.tablo {
    display: grid;
    grid-template-rows: 25% 15% 30% 20%;
    background-color: white;
    height: 90%;
    width: 100%;
}

.counters {
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20%;
    text-align: center;
    font-size: 150%;
}

.counter {
    box-sizing: border-box;
    border: black solid 3px;
}

.time {
    text-align: center;
    padding-top: 2%;
    font-size: 250%;
}

.tempLog {
    text-align: center;
    font-size: 120%;
}

.consLog {
    position: relative;
    padding-left: 10%;
    font-size: 100%;
}
