.videoAdmin {

}

.videoAdmin__info {
    height: 6vh;
    background: #D5DEEF;
}

.videoAdmin__editor {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 36vh;
    background: #B2CAEE;
}

.videoAdmin__presetsAndCamera {
    display: grid;
    grid-template-columns: 82% 18%;
    height: 28vh;
    background: #89AFE0;
}

.videoAdmin__animations {
    display: grid;
    grid-template-rows: 50% 50%;
    height: 30vh;
    background: #89AFE0;
}

