.videoAdmin {

}

.videoAdmin__info {
    height: 6vh;
    background: #D5DEEF;
}

.videoAdmin__editor {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 38vh;
    background: #B2CAEE;
}

.videoAdmin__camera {
    display: grid;
    height: 28vh;
    background: #89AFE0;
}

.videoAdmin__presetsAndVideos {
    display: grid;
    grid-template-columns: 82% 18%;
    height: 28vh;
    background: #89AFE0;
}

.navBackButton {
    position: absolute;
    float: right;
    right: 30px;
    bottom: 30px;
    width: 320px;
    text-align: center;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 30px;
    border: solid 2px black;
}

