.videoAdmin {
    background: #2a2b2b;
    color: white;
}

.videoAdmin__info {
    height: 9vh;
}

.videoAdmin__editor {
    display: grid;
    grid-template-columns: 65% 35%;
    height: 35vh;
}

.videoAdmin__camera {
    display: grid;
    height: 28vh;
}

.videoAdmin__presetsAndVideos {
    display: grid;
    grid-template-columns: 82% 18%;
    height: 28vh;
}