.presets {

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 20px;
}

.preset {
    width: 180px;
    border: #3a5985 2px solid;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.currentPreset {
    width: 180px;
    border: #3a5985 2px solid;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 17px;
    background: #435373;
    color: #a4e2ed;
}

.preset:hover {
    width: 185px;
    font-size: 18px;
}