.presets {

}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px;
}

.preset {
    width: 280px;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 24px;
}

.preset:hover {
    background: #3d4040;
}