.presets {

}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
}

.preset {
    width: 280px;
    border: #3a5985 3px solid;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
}

.preset:hover {
    width: 285px;
    font-size: 25px;
}