.presets {

}

.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 5px;
}

.preset {
    width: 180px;
    box-sizing: border-box;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
}

.preset:hover {
    background: #3d4040;
}