.log {
    width: 340px;
    margin: auto;
}

.logWindow {
    background-color: #3d4040;
    position: relative;
    height: 96px;
    overflow-y: scroll;
    margin-bottom: 2%;
}

.addLogButton {
    color: white;
    background: green;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 20px;
    cursor: pointer;
}

.addLogButton:hover {
    background: #2b8431;
}

.logForm {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 35px;
}

.logItem {
    word-break: break-all;
    padding-left: 15px;
    padding-top: 2px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 95% 5%
}

.deleteButton {
    cursor: pointer;
    color: red;
}

.deleteButton:hover {
    color: #ff3232;
}
