.log {
    width: 500px;
    margin: auto;
}

.logWindow {
    background-color: #3d4040;
    position: relative;
    height: 160px;
    overflow-y: scroll;
    margin-bottom: 2%;
}

.addLogButton {
    background: green;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    font-size: 40px;
}

.logForm {
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-rows: 35px;
}

.logItem {
    word-break: break-all;
    padding-left: 15px;
    padding-top: 2px;
    font-size: 24px;
    display: grid;
    grid-template-columns: 95% 5%
}

.deleteButton {
    cursor: pointer;
    color: red;
}
