.camerasBlock {
    font-size: 24px;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
}

.videos {
    display: inline-flex;
}

.video {
    position: relative;
    height: 180px;
    border: 3px solid;
    min-width: 240px;
    text-align: center;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
}

.paginator {
    border: 4px solid;
    box-sizing: border-box;
    height: 45px;
    width: 70px;
    background: #232961;
    color: white;
    text-align: center;
    margin: 0 10px;
}

.active:hover {
    cursor: pointer;
    border: 5px solid;
}

.disable {
    opacity: 0.5;
}

.addButton {
    border: 3px solid #232961;
    box-sizing: border-box;
    height: 45px;
    width: 70px;
    text-align: center;
    margin: 0 10px;
    font-size: 24px;
    cursor: pointer;
    background: white;
    color: #232961;
}

.addButton:hover {
    border: 5px solid #232961;
}

.videoForm {
    display: grid;
    width: 800px;
    height: 70px;
    grid-template-columns: 66% 28%;
}

.addVideoButton {
    width: 150px;
    height: 40px;
    font-size: 26px;
    cursor: pointer;
}

.addVideoForm {
    position: absolute;
    bottom: 400px;
    left: 10px;
    border-radius: 5px;
    border: 1px solid;
    width: 800px;
    z-index: 1000;
    padding: 20px;
    background-color: darkcyan;
}

.exitForm {
    position: absolute;
    padding: 1px;
    border: 1px solid;
    background-color: red;
    right: 5px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
}

.exitForm:hover {
    background-color: #ff3232;
}

.deleteVideo {
    position: absolute;
    padding: 1px;
    top: 0;
    right: 0;
    border: 1px solid;
    background-color: red;
    font-size: 30px;
    cursor: pointer;
}

.deleteVideo:hover {
    background: #ff3232
}